<%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.text_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= form.text_field :password, placeholder:"Password"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
