<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @post.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td><%= post.idUser %></td>
      </tr>
    <% end %>
  </tbody>
</table>
