<!DOCTYPE html>
<html>
  <head>
    <title>AuthenticationCollaborative</title>
    <%= render 'layouts/railsDefault' %>
  </head>

  <body>
    <main>
      <%= render 'layouts/header' %>
      <%= yield %>
    </main>
  </body>
</html>
